@model Shopping2023.Data.Entities.Country

 <h4>País</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
        @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-8">
        @Html.DisplayFor(model => model.Name)
        </dd>
         <dt class = "col-sm-4">
        @Html.DisplayNameFor(model => model.StatesNumber)
        </dt>
        <dd class = "col-sm-8">
        @Html.DisplayFor(model => model.StatesNumber)
        </dd>
    </dl>